.container {
    width: 60%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

body {
    background-image: url("bg00.jpg");
    background-size: 100%;
}


.form-control {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #555;
}

.form-select {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #555;
}

.btn-primary {
    border-radius: 5;
    cursor: pointer;
    background-color: #e74c3c;
    border: none;
}

@media only screen and (max-width:600px) {
    .container {
        width: 90%;
        margin-top: 40px;
        position: absolute;
        left: 50%;
        top: 50%;
        padding-bottom: 40px;

        
    }
}